*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 1260px) {}

body {
    background-color: #F7F6F6;
    font-family: sans-serif;
}

.nav_section {
    position: fixed;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1.5rem;
    border-radius: 75px;
    padding: 20px;
    background-color: var(--bg_dark2);
}

img {
    width: 195.36px;
    height: 40px;
    top: -0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    gap: 32px;
}

.nav-link:is(:hover, :active) {
    color: var(--primary_color);
}

.nav-link {
    color: var(--text_dark);
}

.home {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary_color);
}

.service {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;
}

.max_container {
    max-width: 1232px;
    width: 100%;
    margin-inline: auto;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
}

.download {
    min-width: 156px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 1px solid #BDCCCC;
    gap: 10px;
    margin-right: 16px;
    color: #F36223;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

.log {
    gap: 20px;
}

.login {
    color: #050505;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    margin-left: 10px;
}

.create_account {
    width: 161px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 0;
    gap: 10px;
    background-color: var(--primary_color);
    color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

.max_container h1 {
    background: linear-gradient(180deg, #212121, #16bf5e 122.22%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 8rem;
    font-size: var(--font_main_header);
    font-weight: 700;
    text-align: center;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.max_container p {
    color: var(--text_dark2);
    font-size: 2rem;
    font-size: var(--font_h2);
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 782px;
    width: 100%;
}

.use_cards {
    grid-gap: 16px;
    background-color: #fff;
    background-color: var(--text_light);
    border-radius: 20px;
    padding: 40px;
}

.use_cards h4 {
    color: var(--primary_color);
    font-size: var(--font_header);
    font-weight: 500;
}

.use_cards p {
    font-size: 1.6rem;
    font-size: var(--font_md_lg);
    font-weight: 400;
}

.use_cards p {
    color: var(--text_dark2);
    font-size: 2rem;
    font-size: var(--font_h2);
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    max-width: 782px;
    width: 100%;
    text-align: start;
}