*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 1260px) {}

body {
    background-color: #F7F6F6;
    font-family: sans-serif;
}

.nav_section {
    position: fixed;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1.5rem;
    border-radius: 75px;
    padding: 20px;
    background-color: var(--bg_dark2);
}

img {
    width: 195.36px;
    height: 40px;
    top: -0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    gap: 32px;
}

.nav-link:is(:hover, :active) {
    color: var(--primary_color);
}

.nav-link {
    color: var(--text_dark);
}

.home {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary_color);
}

.service {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;
}

.max_container {
    max-width: 1232px;
    width: 100%;
    margin-inline: auto;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
}

.download {
    min-width: 156px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 1px solid #BDCCCC;
    gap: 10px;
    margin-right: 16px;
    color: #F36223;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

.log {
    gap: 20px;
}

.login {
    color: #050505;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    margin-left: 10px;
}

.create_account {
    width: 161px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 0;
    gap: 10px;
    background-color: var(--primary_color);
    color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

/* @media screen and (max-width: 1260px) {
    .body.theme--light.v-application section.about_section, .body.theme--light.v-application section.faq_section, .body.theme--light.v-application section.hero_section, .body.theme--light.v-application section.service_section, body section.about_section, body section.faq_section, body section.hero_section, body section.service_section {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
} */

.max_container h1 {
    background: linear-gradient(180deg, #212121, #16bf5e 122.22%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 8rem;
    font-size: var(--font_main_header);
    font-weight: 700;
    text-align: center;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.max_container p {
    color: var(--text_dark2);
    font-size: 2rem;
    font-size: var(--font_h2);
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 782px;
    width: 100%;
}

.bottom_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    grid-gap: 40px;
}

.use_cards {
        grid-gap: 16px;
        background-color: var(--text_light);
        border-radius: 20px;
        padding: 40px;
        width: 100%;
        max-width:38.4rem;
}

.use_cards h4 {
    color: var(--primary_color);
    font-size: var(--font_header);
    font-weight: 500;
}

.use_cards p {
    font-size: 1.6rem;
    font-size: var(--font_md_lg);
    font-weight: 400;
}

.use_cards p {
    color: var(--text_dark2);
    font-size: 2rem;
    font-size: var(--font_h2);
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    max-width: 782px;
    width: 100%;
    text-align: start;
}

.message_container {
    margin: 0 auto 88px;
    max-width: 48rem;
    scroll-margin-top: 120px;
    width: 100%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 10px;
}

.message_container h3 {
    color: var(--text_dark3);
    font-size: var(--font_header2);
    font-weight: 700;
    text-align: center;
}

.message_container p {
        color: var(--text_dark2);
        font-size: var(--font_h2);
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        max-width: 782px;
        width: 100%;
        margin-bottom: 38px;
        margin-top: 16px;
        text-align: center;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.input_label {
    color: #050505;
    color: var(--text_dark);
    display: block;
    font-size: 1.6rem;
    font-size: var(--font_md_lg);
    font-weight: 400;
    margin-bottom: 6px;
    max-width: -moz-max-content;
    max-width: max-content;
}

.capital {
    text-transform: capitalize;
}

.input_field {
    background-color: var(--text_light);
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--text_dark);
    font-size: var(--font_md_lg);
    font-weight: 500;
    height: 5rem;
    margin: 0;
    outline: 0;
    padding: 10px 16px;
    width: 100%;
}

.body.theme--light.v-application textarea, body textarea {
    height: 15.3rem !important;
    resize: none;
}

.v-btn {
    height: 4.4rem;
    max-width: 17.3rem;
    color: var(--border);
    caret-color: var(--border);
}

.Btn-pill{
    border-radius: 44px;
}

.v-btn_content {
    justify-content: center;
    width: 100%;
    grid-gap: 10px;
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}

.v-btn_content span {
    color: var(--text_dark);
    display: block;
    font-size: var(--font_md_lg);
    text-align: center;
    font-weight: 500;
}

.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.Btn.pill {
    border-radius: 44px;
    height: 4.4rem;
    max-width: 17.3rem;
    color: var(--border);
    caret-color: var(--border);
}

.footer_section {
    background-color: var(--text_dark);
    padding-bottom: var(--padding_section);
    padding-top: var(--padding_section);
}

.top-side{
    border-bottom: 1px solid var(--text_dark2);
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.logo_socials {
    max-width: 35.4rem;
    width: 100%;
}

.logo {
    height: 40px;
    max-width: 19.3rem;
    width: 100%;
}

.logo svg path:first-child {
    fill: var(--text_light);
}

.logo_text {
    font-size: var(--font_md);
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 16px;
    font-family: Satoshi;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 354px;
}

.socials {
    grid-gap: 15px;
}

.top-side ul {
    grid-gap: 22px;
    align-self: flex-start;
}

.top-side ul li h4 {
    font-size: var(--font_h1);
    font-weight: 500;
    margin-bottom: 8px;
    font-family: Satoshi;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.top-side ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p_txt{
    font-family: Satoshi;
    font-size: var(--font_md);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    border-bottom: none;
}

.list {
    grid-gap: 22px;
}

.bottom-side {
    max-width: 123.2rem;
    height: 1.7rem;
    justify-content: space-between;
}

.bottom-side p {
    font-size: var(--font_md);
    font-weight: 400;
    color: #FFFFFF;
}