*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
    word-wrap: break-word;
    word-break: break-word;
}

@media screen and (max-width: 1260px) {}

body {
    background-color: #F7F6F6;
    font-family: sans-serif;
}

.nav_section {
    position: fixed;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1.5rem;
    border-radius: 75px;
    padding: 20px;
    background-color: var(--bg_dark2);
}

img {
    width: 195.36px;
    height: 40px;
    top: -0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    gap: 32px;
}

.nav-link:is(:hover, :active) {
    color: var(--primary_color);
}

.nav-link {
    color: var(--text_dark);
}

.home {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary_color);
}

.service {
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #050505;
}

.max_container {
    max-width: 1232px;
    width: 100%;
    margin-inline: auto;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
}

.download {
    min-width: 156px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 1px solid #BDCCCC;
    gap: 10px;
    margin-right: 16px;
    color: #F36223;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

.log {
    gap: 20px;
}

.login {
    color: #050505;
    background-color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: 0;
    margin-left: 10px;
}

.create_account {
    width: 161px;
    height: 44px;
    padding: 11px 24px 11px 24px;
    border-radius: 44px;
    border: 0;
    gap: 10px;
    background-color: var(--primary_color);
    color: #FFFFFF;
    font-family: Satoshi;
    font-size: var(--font_md_lg);
    font-weight: 500;
}

.main_card_container {
    background-color: var(--text_light);
    border-radius: 20px;
    padding: 60px;
    grid-gap: 24px;
    margin: 0 auto;
    max-width: 98rem;
    width: 100%;
}

.privacy_policy {
    padding-block: 100px;
}

.main_card_container h1 {
    font-size: 6.4rem;
    background: linear-gradient(180deg, #212121, #16bf5e 122.22%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 8rem;
    font-size: var(--font_main_header);
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    text-align: left;
}

.main_card_container p {
    color: var(--text_dark2);
    font-size: var(--font_h2);
    font-weight: 500;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 782px;
    width: 100%;
}

.terms h3 {
    font-size: var(--font_header);
    font-weight: 500;
    margin-bottom: 0;
}

.terms:has(div) h3 {
    font-size: var(--font_h2);
    font-weight: 600;
    margin-bottom: 12px;
}

#terms {
    font-size: var(--font_header);
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
}

.terms ul {
    display: flex;
    flex-direction: column;
    padding-left: 54px !important;
    grid-gap: 6px;
}

.terms ul>li {
    color: var(--text_dark2);
    font-size: var(--font_md_lg);
    font-weight: 400;
    margin: 0;
    max-width: 100%;
}

#terms_txt {
    color: var(--text_dark2);
    font-size: var(--font_md_lg);
    font-weight: 400;
    margin: 0;
    max-width: 100%;
}

.terms a {
    color: var(--primary_color);
}

.footer_section {
    background-color: var(--text_dark);
    padding-bottom: var(--padding_section);
    padding-top: var(--padding_section);
}

.top-side{
    border-bottom: 1px solid var(--text_dark2);
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.logo_socials {
    max-width: 35.4rem;
    width: 100%;
}

.logo {
    height: 40px;
    max-width: 19.3rem;
    width: 100%;
}

.logo svg path:first-child {
    fill: var(--text_light);
}

.logo_text {
    font-size: var(--font_md);
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 16px;
    font-family: Satoshi;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 354px;
}

.socials {
    grid-gap: 15px;
}

.top-side ul {
    grid-gap: 22px;
    align-self: flex-start;
}

.top-side ul li h4 {
    font-size: var(--font_h1);
    font-weight: 500;
    margin-bottom: 8px;
    font-family: Satoshi;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.top-side ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p_txt{
    font-family: Satoshi;
    font-size: var(--font_md);
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    border-bottom: none;
}

.list {
    grid-gap: 22px;
}

.bottom-side {
    max-width: 123.2rem;
    height: 1.7rem;
    justify-content: space-between;
}

.bottom-side p {
    font-size: var(--font_md);
    font-weight: 400;
    color: #FFFFFF;
}
